

.contac-section{
 top: 2vh;
  position: relative;
}


.container.contact__container {
  width: 90%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
  left: 10%;
  
  transform: translateX(30%);
}



/*  FORM  */
form {
  display: block;
  flex-direction: column;
  align-content: center;
  gap: 1.2rem;
  padding: 1.5rem;
  top: 3.5;
}

input,
textarea {
  width: 125%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid var(--color-primary-variant);
  resize: none;
  color: var(--color-white);
}

._scrollDN2 {
  position: absolute;
  left: -1.1rem;
  color: var(--color-light);
  font-weight: 300;
  font-size: 1.5rem;
  animation: scroll 1.5s infinite;
  transform: rotate(-90deg);
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
  .container.contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

/*MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
  .container.contact__container {
    width: var(--container-width-sm);
  }
}