
header{
  height: 100%auto;
  padding-top: 5rem;
  overflow: hidden;
  
}

/* Header Container */

.header-container{
  position: relative;
  height: 100%;
  text-align: center;
}
/* Top Bottons  */
.topBtn{
  margin-top: 1.0rem;
  display: flex;
  justify-content: center;
  gap: 1.0rem;
}

/* Social icons */
.topsocials {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-light);
  gap: 0.8rem;
  right: 0;
  bottom: 25rem;
  scale: 2;
  
}

.topsocials:hover{
  color: var(--color-primary);
  cursor: pointer;
}



/* Image Format */
.yo{
 
  background:linear-gradient(var(--color-primary),transparent) ;
  color: var(--color-bg);
  border-color: transparent;
  scale: .75;
  border-radius: 0 12rem;
  border: 3px solid var(--color-light);
  filter: drop-shadow(0.35rem 0.35rem 1.5rem rgba(0, 0, 0, 1));
  left: calc(50% - 11rem);
  overflow: hidden;
  padding: 2.5rem 0 0 0;
  
}

/* Scroll Down */

._scrollDN{
  position: absolute;
  left: -1.1rem;
  bottom: 27rem;
  color: var(--color-light);
  font-weight: 300;
  font-size: 1.5rem;
  animation: scroll 1.5s infinite;
  transform: rotate(-90deg);
}


/* Media queries for Mid sizes equipment */

@media screen and (max-width: 1024px) {
  header{
    height: 68vh;
  }  
    
  }

  


/* Media queries for small sizes equipment */

@media screen and (max-width: 600px) {

  header{
    height: 100vh;
  }
  .topsocials, ._scrollDN {
    display: none;

  }

  
}