
header{
  height: 100%auto;
  padding-top: 5rem;
  overflow: hidden;
  
}

.header-container{
  position: relative;
  height: 100%;
  text-align: center;
}
/* Top Bottons  */
.topBtn{
  margin-top: 1.0rem;
  display: flex;
  justify-content: center;
  gap: 1.0rem;
}

/* Social icons */
.topsocials {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-light);
  gap: 0.8rem;
  position: absolute;
  right: 0;
  bottom: 25rem;
  scale: 2;
  
}

.topsocials:hover{
  color: var(--color-primary);
  cursor: pointer;
}



/* Image Format */
.yo{
 
  background:linear-gradient(var(--color-primary),transparent) ;
  color: var(--color-bg);
  border-color: transparent;
  scale: .75;
  border-radius: 0 12rem;
  border: 3px solid var(--color-light);
  filter: drop-shadow(0.35rem 0.35rem 1.5rem rgba(0, 0, 0, 1));
  left: calc(50% - 11rem);
}

/* Scroll Down */

._scrollDN{
  display: flex;
  flex-direction: row;
  align-items: center;
}