footer {
  background: var(--color-primary-variant);
  padding: 1rem 0;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 1rem;
  bottom: 0;
}

footer a {
  color: var(--color-bg);
}



.footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
}

._scrollDN {
  position: absolute;
  left: -1.1rem;
  color: var(--color-light);
  font-weight: 300;
  font-size: 1.5rem;
  animation: scroll 1.5s infinite;
  transform: rotate(-90deg);
}


.footer_copyright {
  margin-bottom: 5rem;
  color: var(--color-bg);
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
  .permalinks {
    flex-direction: column;
    gap: 1.5rem;
  }

  .footer__socials {
    margin-bottom: 2.6rem;
  }
}