
/* Navigation Floatting Bar */
nav {
  height: 5vh;
  max-width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 0.1rem 2.0rem;
  background: rgba(0, 0, 0, 0.165);
  backdrop-filter: blur(10px);
  z-index: 2;
  position:fixed;
  left:50%;
  bottom:0.9%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  gap:0.8rem;
  border-radius: 6rem;
  backdrop-filter: blur(15px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

nav a {
  background: transparent;
  padding: 1.0rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-primary);
  transform: scale(1.0);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  
}

nav a.active {
  background: rgba(61, 61, 61, 0.2);
  color: var(--color-white);
}
